<%- include('../partials/head') %>
<main class="container admin-page">
  <%- include('../partials/adminMenu') %>
  <div class="admin-container">
  <h1>Administration Services</h1>
  </div>
</main>
<%- include('../partials/foot') %>