
    <div class="admin">
    <nav class="admin sidebar">
        <h3>Admin Menü</h3>
        <ul class="sidebar-menü">
            <li><a href="/admin/profile" class="active">Profil</a></li>
            <li><a href="/admin/services">Services</a></li>
            <li><a href="/admin/list">Booking</a></li>
          
            <li><a href="/admin/produkt">Produkte</a></li>
        </ul>
    </nav>
</div>
