
    <div class="admin">
    <nav class="admin sidebar">
        <h3>Admin Menü</h3>
        <ul class="sidebar-menü">
            <li><a href="/admin/profile" class="active">Profil</a></li>
            <li><a href="/admin/home">Startseite</a></li>
            <li><a href="/admin/services">Dienstleistungen</a></li>
            <li><a href="/admin/list">Terminverwaltung</a></li>
            <li><a href="/admin/produkt">Produkte</a></li>
        </ul>
    </nav>
</div>
