<%- include('partials/head') %>
<main>

<div class="hero-container">

    <div class="hero-text">
        <h2> Willkommen bei H – Haarschnitt Atelier Kassel</h2>

        <p>
            Ihr Friseursalon für moderne Haarschnitte,
            Styling und Beratung.
        </p>

        <div class="hero-buttons">
            <a class="button" href="/booking">Termin buchen</a>
            <a class="button" href="/team">Unser Team vorstellen</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="/uploads/startseite.jpg" alt="Salon">
    </div>

</div>

</main>

<%- include('partials/footer') %>
