<%- include('../partials/header') %>

<main>
    <h1 class="seiten-titel">Portfolio / Bildergalerie</h1>

    <section class="portfolio-container">
       <img src="/uploads/haare1.jpg" alt="Haare 1">
        <img src="/uploads/haare2.jpg" alt="Haare 2">
        <img src="/uploads/haare3.jpg" alt="Haare 3">
    </section>
</main>



<%- include('../partials/footer') %>
